h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
}

table{
  width: 80%;
  margin: auto;
}

td{
  border: 4px solid white;
    height: 400px;
}

#first{
  background: #264653;
}

#second{
  background: #2A9D8F;
}

#third{
 background: #E9C46A;
}

#fourth{
  background: #F4A261;
}

#fifth{
  background: #E76F51;
}
